<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create TV Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    button{
        text-align: center
    }
    .header{
        display: inline-block;
    }
</style>
<body>
    <div class="container">
        <div class="header">
            <h1>Add a New Show</h1>
            <a href="/">Home</a>
        </div>    
        <form action="/create" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <label for="">Title</label>
                <input type="text" name="title" class="form-control" >
                <label for="">Network</label>
                <input type="text" name="network" class="form-control">
                <label for="">Release Date</label>
                <input type="date" name="release_date" class="form-control" >
                <label for=>Description</label>
                <textarea class="form-control" name="description" rows="4"></textarea>
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</body>
</html>